<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<!-- ログイン失敗時のエラーメッセージ表示 -->
	<!-- クエリパラメータでエラーメッセージが返る -->
	<div th:if="${error}" style="color: red;">
		<p th:text="${error}"></p>
	</div>
	<h1>Login</h1>
	<form action="/login" method="post">
		<div>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required>
		</div>
		<div>
			<label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
		</div>	
		<divdiv>
            <button type="submit">Login</button>
		</div>
</body>
</html>